<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title th:text="${title}"></title>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="./static/font-awesome.css">
</head>

<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img
            th:src="@{https://www.thymeleaf.org/images/thymeleaf.png}"
            style="height:50px;width:50px;margin-right:10px;"
            th:alt-title="#{titre_logo}"
    />
    <a class="navbar-brand" href="http://localhost:8080/">Gestion des salariés</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li><a href="http://localhost:8080/salaries?page=0&amp;size=10&amp;sortProperty=nom&amp;sortDirection=ASC" class="nav-link">Liste des salariés <span class="badge badge-primary" th:text="${numberOfEmployees}"></span></a></li>
      </ul>

      <form class="form-inline my-2 my-lg-0" role="search" action="http://localhost:8080/salaries" method="GET">
        <div class="form-group">
          <input name="nom" class="form-control" placeholder="Rechercher un nom" type="text">
        </div>
        <button type="submit" class="btn btn-outline-success ml-2 my-2 my-sm-0">Rechercher</button>
      </form>
    </div>
  </nav>
</div>


</body>
</html>